@media screen and (max-width: 768px) {
  .l-sp_header {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    position: fixed;
    transition: padding .5s;
    width: 100%;
  }
  .l-sp_header.transform {
    z-index: 9997;
    background-color: #FFF;
    padding: 20px 0;
  }
  .c-btn_hamburger_box .transform {
    color: #000;
  }
  .l-sp_header_logo .transform {
    display: block;
    position: fixed;
    width: 45px;
    left: 23px;
    top: 20px;
    opacity: 1;
    z-index: 9997;
  }
  .open .l-sp_header_logo {
    pointer-events: visible;
    top: 10px;
  }
  .open .l-sp_header_bg {
    opacity: 1;
    pointer-events: visible;
    height: 64px;
  }
  .open .c-global_nav {
    transform: translateX(0);
  }
  .open .c-hamburger span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg);
  }
  .open .c-hamburger span:nth-child(2) {
    top: 11px;
    transform: rotate(-45deg);
  }
  .open .c-hamburger_box {
    top: 16px;
  }
  .open .pc_p-nav_logo {
    opacity: 1;
    pointer-events: visible;
  }
  .c-global_nav {
    position: fixed;
    top: -100%; /*ハンバーガーがクリックされる前はWindow上部に隠す*/
    left: 0;
    width: 100%; /* 出てくるスライドメニューの幅 */
    height: 80vh;
    background: #A2C2CA;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;
  }
  /*ハンバーガーがクリックされたら上からスライド*/
  .open .c-global_nav {
    top: 0;
  }
  /*
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
  .p-black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }
  /*ハンバーガーメニューが開いたら表示*/
  .open .p-black-bg {
    opacity: 0.3;
    visibility: visible;
  }
}
@media screen and (min-width: 768px) {
.c-pc_nav li a {
  position: relative;
  text-decoration: none;
}

.c-pc_nav li a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -1px;               /*アンダーラインがaタグの下端から現れる*/
  transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  transition: transform 0.3s; /*変形の時間*/
  }
  .c-pc_nav li a:hover::after {
  transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}
