/*common*/

section, main {
  position: relative;
  display: block;
}
body, html {
  width: 100%;
}
.pc-only {
  display: block!important;
}
.sp-only {
  display: none!important;
}
@media screen and (max-width: 767px) {
  .pc-only {
    display: none!important;
  }
  .sp-only {
    display: block!important;
  }
}

/*fade*/

.js-scroll-fade {
  opacity: 0;
}
.isActive {
  -webkit-animation-timing-function: cubic-bezier(0.36, 0.14, 0, 1);
  animation-timing-function: cubic-bezier(0.36, 0.14, 0, 1);
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

/*navi*/

.c-global_nav {
  display: none;
}
.c-global_nav .main_nav {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.c-global_nav .main_nav li {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
}
.c-global_nav .main_nav li+li {
  margin-left: 10.62%;
}
.c-global_nav .main_nav li a {
  position: relative;
  display: block;
  padding-bottom: 3px;
}
.c-global_nav {
  display: block;
  width: 100%;
  height: 100vh;
  background: #A2C2CA;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.36, 0.14, 0, 1);
  transition: opacity 0.6s cubic-bezier(0.36, 0.14, 0, 1);
  pointer-events: none;
  box-sizing: border-box;
  overflow-y: scroll;
}
body.open .c-global_nav {
  opacity: 1;
  pointer-events: visible;
}
.c-global_nav>.p-inner {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 19.23vw 0 40.69vw;
  box-sizing: border-box;
  position: relative;
}
.p-sp_nav_main li {
  text-align: center;
}
.p-sp_nav_main li+li {
  margin-top: 5.9vw;
}
.p-sp_nav_store {
  width: 49.17%;
  margin: 7.69vw auto;
  padding: 2.56vw;
  background: #fff;
  border-radius: 1.28vw;
  box-sizing: border-box;
  line-height: 0;
}
.sp_nav_instagram {
  width: 8.29%;
  margin: 7.18vw auto 0;
}
.p-nav_logo {
  width: 33.70%;
  position: relative;
  margin: 15vw auto 0;
}
.c-btn_humberger_box {
  display: block;
  width: 38px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
  top: 26px;
  right: 23px;
  -webkit-transition: top 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  transition: top 0.5s cubic-bezier(0.36, 0.14, 0, 1);
}
.c-btn_humberger_box.active {
  top: 16px;
}
.c-btn_humberger span {
  content: "";
  width: 38px;
  height: 3px;
  display: block;
  -webkit-transition: all 0.2s cubic-bezier(0.36, 0.14, 0, 1);
  transition: all 0.2s cubic-bezier(0.36, 0.14, 0, 1);
  background: #000;
  position: absolute;
}
body.home .c-btn_humberger span {
  background: #fff;
}
body.home .c-btn_humberger_box.active span {
  background: #000;
}
.c-btn_humberger span:nth-child(1) {
  left: 0;
  top: 5px;
}
.c-btn_humberger span:nth-child(2) {
  left: 0;
  bottom: 5px;
}
body.open .c-btn_humberger span {
  background: #fff;
}
body.open .c-btn_humberger span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
body.open .c-btn_humberger span:nth-child(2) {
  transform: rotate(-45deg);
  top: 50%;
}
@media screen and (min-width: 768px) {
  .c-global_nav, .c-btn_humberger_box {
    display: none;
  }
}

/*header*/

.l-header_btn_store {
  position: fixed;
  top: 26px;
  right: 77px;
  z-index: 9998;
  -webkit-transition: top 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  transition: top 0.5s cubic-bezier(0.36, 0.14, 0, 1);
}
.l-header_btn_store.active {
  top: 16px;
}
.l-header_btn_store.active svg *, body:not(.home) .l-header_btn_store svg * {
  fill: #fff;
}
.l-header_btn_store a {
  display: block;
  width: 56px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 3px;
  background: #7DC2D1;
  -webkit-transition: background 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  transition: background 0.5s cubic-bezier(0.36, 0.14, 0, 1);
}
body.home .l-header_btn_store a {
  background: #fff;
}
body.home .l-header_btn_store.active a {
  background: #7dc2d1;
}
.l-header_btn_store img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .l-header_btn_store, .l-sp_header_logo {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .l-sp_header_bg {
    position: fixed;
    width: 100%;
    height: 84px;
    background: transparent;
    background: #fff;
    opacity: 0;
    z-index: 9997;
    pointer-events: none;
    -webkit-transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    top: 0;
  }
  .l-sp_header_bg.active {
    opacity: 1;
    pointer-events: visible;
    height: 64px;
  }
  .l-sp_header_logo {
    display: block;
    position: fixed;
    width: 45px;
    left: 23px;
    top: 20px;
    opacity: 1;
    z-index: 9997;
    -webkit-transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .l-sp_header_logo img {
    width: 100%;
    object-fit: cover;
  }
  body.home .l-sp_header_logo {
    opacity: 0;
    pointer-events: none;
  }
  .l-sp_header_logo.active {
    opacity: 1!important;
    pointer-events: visible;
    top: 10px;
  }
}

/*footer*/

footer {
  margin-bottom: 13px;
  padding: 80px 30px 30px;
}
body:not(.home) footer {
  padding: 30px 30px 30px;
  background: #000;
}
.l-footer_menu {
  margin-bottom: 30px;
}
.l-footer_menu_ttl+.l-footer_menu {
  margin-top: 40px;
}
.l-footer_menu_ttl {
  text-align: center;
}
.l-footer_menu_item {
  display: block;
  position: relative;
}
.l-footer_menu_item+.l-footer_menu_item {
  margin-top: 20px;
}
.l-footer_menu_item .ph {
  width: 100%;
}
.l-footer_menu_item .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.l-footer_function {
  display: flex;
  justify-content: center;
}
.l-footer_function li+li {
  margin-left: 40px;
}
.l-footer_function li {
  font-size: 1.4rem;
}
body:not(.home) .l-footer_function li {
  color: #fff;
}
@media screen and (min-width: 768px) {
  footer {
    margin-bottom: 13px;
    padding: 20px 30px;
  }
  body:not(.home) footer {
    padding: 20px 30px;
    background: #000;
  }
  body.error404 footer {
    display: none;
  }
  .l-footer_menu, .l-footer_menu_ttl {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  footer {
    margin-bottom: 0;
  }
}

/*common*/

.p-contents_box {
  position: relative;
}
.p-center_box>.p-inner {
  padding: 0 6.14%;
}
.p-center_box .top_p-inner {
  padding: 0 6.14%;
}
main img {
  width: 100%;
}
.c-pc_nav li {
  line-height: 0;
}
.c-pc_nav li+li {
  margin-top: 30px;
}
.p-pc_nav_btn_store {
  display: block;
  background: #7DC2D1;
  border-radius: 3px;
  margin: 0 -5px;
  padding: 7px 14px;
  margin-top: 38px;
}
.p-pc_nav_btn_store p{
  color: #fff;
  line-height: 18px;
  font-size: 12px;
  font-family: auto;
}
.p-pc_nav_ico_instagram {
  display: block;
  width: 25px;
  margin: 38px 0 0 -5px;
}
.pc_p-nav_logo {
  width: 44.29%;
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  opacity: 0;
  pointer-events: none;
}
.pc_p-nav_logo.active {
  opacity: 1;
  pointer-events: visible;
}
@media screen and (min-width: 768px) {
  .c-pc_nav li a {
    position: relative;
  }
  .c-pc_nav li a:before {
    content: "";
    display: block;
  }
  .c-pc_nav li:nth-child(1) a:before {
    width: 57px;
    height: 6px;
    position: absolute;
    bottom: -4px;
    left: -8px;
    background: url("../img/nav_hover_line01.svg") no-repeat left top / 57px 6px;
  }
  .c-pc_nav li:nth-child(2) a:before {
    width: 74px;
    height: 4px;
    position: absolute;
    bottom: -2px;
    left: -7px;
    background: url("../img/nav_hover_line02.svg") no-repeat left top / 74px 4px;
  }
  .c-pc_nav li:nth-child(3) a:before {
    width: 67px;
    height: 6px;
    position: absolute;
    bottom: -3px;
    left: -6px;
    background: url("../img/nav_hover_line03.svg") no-repeat left top / 67px 6px;
  }
  .c-pc_nav li:nth-child(4) a:before {
    width: 85px;
    height: 8px;
    position: absolute;
    bottom: -6px;
    left: -4px;
    background: url("../img/nav_hover_line04.svg") no-repeat left top / 85px 8px;
  }
  .c-pc_nav li:nth-child(5) a:before {
    width: 62px;
    height: 5px;
    position: absolute;
    bottom: -4px;
    left: -7px;
    background: url("../img/nav_hover_line05.svg") no-repeat left top / 62px 5px;
  }
  .c-pc_nav li:nth-child(6) a:before {
    width: 76px;
    height: 6px;
    position: absolute;
    bottom: -4px;
    left: -8px;
    background: url("../img/nav_hover_line06.svg") no-repeat left top / 76px 6px;
  }
  .c-pc_nav li:nth-child(7) a:before {
    width: 87px;
    height: 6px;
    position: absolute;
    bottom: -4px;
    left: -5px;
    background: url("../img/nav_hover_line07.svg") no-repeat left top / 87px 6px;
  }
  .c-pc_nav li:nth-child(8) a:before {
    width: 63px;
    height: 5px;
    position: absolute;
    bottom: -4px;
    left: -7px;
    background: url("../img/nav_hover_line08.svg") no-repeat left top / 63px 5px;
  }
  .c-pc_nav li a:after {
    content: "";
    display: block;
    width: 0;
    background: #fff;
    -webkit-transition: width 0.3s cubic-bezier(0.36, 0.14, 0, 1);
    transition: width 0.3s cubic-bezier(0.36, 0.14, 0, 1);
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
  .c-pc_nav li:nth-child(1) a:after {
    width: 57px;
    height: 6px;
    position: absolute;
    bottom: -4px;
    right: 30px;
  }
  .c-pc_nav li:nth-child(2) a:after {
    width: 74px;
    height: 4px;
    position: absolute;
    bottom: -2px;
    right: 12px;
  }
  .c-pc_nav li:nth-child(3) a:after {
    width: 67px;
    height: 6px;
    position: absolute;
    bottom: -3px;
    right: 18px;
  }
  .c-pc_nav li:nth-child(4) a:after {
    width: 85px;
    height: 8px;
    position: absolute;
    bottom: -6px;
    right: -2px;
  }
  .c-pc_nav li:nth-child(5) a:after {
    width: 62px;
    height: 5px;
    position: absolute;
    bottom: -4px;
    right: 24px;
  }
  .c-pc_nav li:nth-child(6) a:after {
    width: 76px;
    height: 6px;
    position: absolute;
    bottom: -4px;
    right: 11px;
  }
  .c-pc_nav li:nth-child(7) a:after {
    width: 87px;
    height: 6px;
    position: absolute;
    bottom: -4px;
    right: -3px;
  }
  .c-pc_nav li:nth-child(8) a:after {
    width: 63px;
    height: 5px;
    position: absolute;
    bottom: -4px;
    right: 23px;
  }
  .c-pc_nav li a:hover:after {
    width: 0;
  }
  /*body.home .c-pc_nav li:nth-child(1) a:after { width: 0; }*/
  .c-pc_nav li a.current:after {
    width: 0;
  }
  body.blog .c-pc_nav li:nth-child(3) a:after, body.single-post .c-pc_nav li:nth-child(3) a:after {
    width: 0;
  }
  body.howto .c-pc_nav li:nth-child(4) a:after {
    width: 0;
  }
  body.menu .c-pc_nav li:nth-child(5) a:after {
    width: 0;
  }
  body.beans .c-pc_nav li:nth-child(6) a:after {
    width: 0;
  }
  body.background .c-pc_nav li:nth-child(7) a:after {
    width: 0;
  }
  body.shop .c-pc_nav li:nth-child(8) a:after {
    width: 0;
  }
  .p-contents_box_border {
    border: 1px solid #000;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 11;
    pointer-events: none;
  }
  .p-left_box {
    width: calc(50% - 86px);
    height: calc(100vh - 32px);
    flex-grow: 2;
    border-right: none;
    position: fixed;
    top: 16px;
    left: 16px;
    border-right: 1px solid #000;
  }
  .p-center_box {
    width: calc(50% - 86px);
    position: relative;
    margin-left: calc(50% - 70px);
    margin-top: 16px;
    box-sizing: border-box;
  }
  .p-right_box {
    width: 140px;
    height: calc(100vh - 30px);
    position: fixed;
    top: 16px;
    right: 16px;
    padding: 30px;
    border-left: 1px solid #000;
    box-sizing: border-box;
  }
  .p-center_box:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: calc(50% - 70px);
    width: 100%;
    height: 15px;
    background: #fff;
    z-index: 10;
  }
  .p-center_box:after {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: calc(50% - 70px);
    width: 100%;
    height: 15px;
    background: #fff;
    z-index: 10;
  }
}
@media screen and (min-width: 1329px) {
  .p-left_box {
    width: calc(50% - 86px);
  }
  .p-center_box {
    width: calc(50% - 86px);
    margin-left: calc(50% - 70px);
  }
  .p-right_box {
    width: 140px;
  }
}
@media screen and (max-width: 767px) {
  .p-right_box {
    display: none;
  }
}

/*top*/

.p-top_fv {
  width: 100%;
  position: relative;
}
.p-top_fv_ph.movie {
  display: none;
}
.p-top_concept_ttl {
  width: 81.22vw;
  margin: 0 auto 28px;
  padding-top: 70px;
  text-align: center;
}
.p-top_concept_copy {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-feature-settings: initial;
  vertical-align: middle;
  margin: 0 auto;
}
.p-top_concept_copy p+p {
  margin-right: 2em;
}
.p-top_news {
  background: #A2C2CA;
  margin-top: 70px;
  padding: 15px;
  border-radius: 5px;
}
.p-top_news_ttl {
  margin: 0 auto 10px;
  text-align: center;
}
.p-top_news_ttl p{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.p-top_news_item_date {
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 400;
}
.p-top_news_item_ttl {
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 400;
}
.p-top_about {
  background: #000;
  padding: 6.14% 6.14% 80px;
  margin-top: 6.14%;
}
.p-top_about_item_head {
  position: relative;
}
.p-top_about_item_ph {
  width: 100%;
}
.p-top_about_item_ph img {
  width: 100%;
  height: 136%;
  font-feature-settings: initial;
}
.p-top_about_item_body {
  margin: 40px 15px 0;
}
.p-top_about_item_body p {
  color: #fff;
}
.p-top_about_item_body p+p {
  margin-top: 2em;
}
.p-top_about_item01_img {
  margin: 40px -15px 0;
}
.p-top_about_item+.p-top_about_item {
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .p-top_fv_logo {
    display: none;
  }
  .l-top_pc_header {
    height: calc(100vh - 30px);
    position: relative;
  }
  .l-top_pc_header_logo {
    width: 48.60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .l-top_pc_header_scroll {
    width: 63px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .p-top_fv_ph img {
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 30px);
  }
  .p-top_fv_ph {
    height: calc(100vh - 30px);
    overflow: hidden;
    position: relative;
  }
  .p-top_fv_ph iframe {
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 177.77777778vh;
  }
  .p-top_sp_scroll {
    display: none;
  }
  .p-top_concept _ttl {
    width: 95.76%;
  }
  .p-top_news {
    display: none;
  }
  .p-top_about_item01_ttl {
    width: 90.86%;
    position: absolute;
    z-index: 2;
    left: 5.08%;
    top: 11%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .p-top_about_item02_ttl {
    width: 82.72%;
    position: absolute;
    z-index: 2;
    left: 0%;
    bottom: 5.76%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .p-top_about_item03_ttl {
    width: 82.72%;
    position: absolute;
    z-index: 2;
    left: 11.52%;
    bottom: 20.94%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .p-top_about_item04_ttl {
    width: 89.01%;
    position: absolute;
    z-index: 2;
    left: 8.9%;
    bottom: 7.85%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}
@media screen and (max-width: 767px) {
  .p-top_fv_logo {
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .l-top_pc_header {
    display: none;
  }
  .p-top_fv_ph img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  .p-top_fv_ph {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .p-top_fv_ph iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .p-top_sp_scroll {
    width: 17.68%;
    position: absolute;
    left: 50%;
    bottom: 6.08vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
  }
  .p-top_about_item01_ttl {
    width: 91.52%;
    position: absolute;
    z-index: 2;
    left: 3.64%;
    top: 26.67%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .p-top_about_item02_ttl {
    width: 87.27%;
    position: absolute;
    z-index: 2;
    left: 0%;
    bottom: 4.24%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .p-top_about_item03_ttl {
    width: 85.36%;
    position: absolute;
    z-index: 2;
    left: 4.24%;
    bottom: 26.06%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .p-top_about_item04_ttl {
    width: 89.09%;
    position: absolute;
    z-index: 2;
    left: 1.82%;
    bottom: 9.09%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .p-top_concept _ttl {
    max-width: 437px;
  }
}

/*page common*/

.page_head {
  position: relative;
  margin: 0 auto;
}
.page_head_ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.page_head_ph {
  position: relative;
  overflow: hidden;
}
.page_head_ph img {
  width: 100%;
  object-fit: cover;
}
.page_head_howto .page_head_ph img, .page_head_shop .page_head_ph img {
  object-position: bottom;
}
.common_section_ttl {
  margin: 0 auto 40px;
  display: block;
  text-align: center;
}
.common_section_ph {
  margin-bottom: 40px;
}
*+.common_section_ph {
  margin-top: 40px;
}
.common_section_ph>div+div {
  margin-top: 20px;
}
.common_section p+p {
  margin-top: 2em;
}
.common_section_btn {
  text-align: center;
}
.common_section_btn a {
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  border-radius: 4px;
  line-height: 0;
  box-sizing: border-box;
}
.common_section_btn+.common_section_btn {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .page_head {
    height: calc(100vh - 31px);
  }
  .page_head_ph img {
    height: calc(100vh - 31px);
  }
  .page_head_ph.sp {
    display: none;
  }
  .page_head_shop .page_head_ttl {
    width: calc(194 / 570 * 100%);
    max-width: calc(194px * 1.5);
  }
  .page_head_backg .page_head_ttl {
    width: calc(294 / 570 * 100%);
    max-width: calc(294px * 1.5);
  }
  .page_head_beans .page_head_ttl {
    width: calc(230 / 570 * 100%);
    max-width: calc(230px * 1.5);
  }
  .page_head_menu .page_head_ttl {
    width: calc(201 / 570 * 100%);
    max-width: calc(201px * 1.5);
  }
  .page_head_howto .page_head_ttl {
    width: calc(268 / 570 * 100%);
    max-width: calc(268px * 1.5);
  }
  .page_head_news .page_head_ttl {
    width: calc(189 / 570 * 100%);
    max-width: calc(189px * 1.5);
  }
  .common_section {
    width: 81.40%;
    margin: 90px auto;
  }
  .common_section_news {
    margin-top: 50px;
    min-height: calc(100vh - 223px);
  }
  .common_section_ttl img {
    width: 100%;
  }
  .common_section_ttl img.shoplogo {
    width: 43%;
  }
  .common_section_ttl.ttl_backg01 {
    width: calc((47.33% * 0.83) * 1.2);
  }
  .common_section_ttl.ttl_backg02 {
    width: calc((88.67% * 0.83) * 1.2);
  }
  .common_section_ttl.ttl_backg03 {
    width: calc((63.33% * 0.83) * 1.2);
  }
  .common_section_ttl.ttl_backg_shirokuro {
    width: calc((55% * 0.83) * 1.2);
  }
  .common_section_ttl.ttl_menu01 {
    width: calc((24.74% * 0.83) * 1.2);
  }
  .common_section_ttl.ttl_menu02 {
    width: calc((22.39% * 0.83) * 1.2);
  }
  .common_section_ttl.ttl_menu03 {
    width: calc((41.29% * 0.83) * 1.2);
  }
  /*
    .common_section_ttl.ttl_menu01 { width: calc(23.57% * 0.83); }
    .common_section_ttl.ttl_menu02 { width: calc(21.33% * 0.83); }
    .common_section_ttl.ttl_menu03 { width: calc(39.33% * 0.83); }
*/
  .common_section_ttl.ttl_howto01 {
    width: calc((33.33% * 0.83) * 1.2);
    ;
  }
  .common_section_ttl.ttl_howto02 {
    width: calc((36% * 0.83) * 1.2);
    ;
  }
  .common_section_ttl.ttl_howto03 {
    width: calc((36% * 0.83) * 1.2);
    ;
  }
  .common_section_ph {
    margin-left: -4%;
    margin-right: -4%;
  }
  .common_section_btn {
    margin-top: 50px;
  }
  .common_section_btn a {
    border: 1px solid #000;
    padding: 15px 32px;
  }
  .common_section_btn_map a {
    width: calc(275 / 464 * 100%);
    max-width: 275px;
    min-width: calc(275px * 0.66);
  }
  .common_section_btn_menu a {
    width: calc(195 / 464 * 100%);
    max-width: 195px;
    min-width: calc(195px * 0.66);
  }
  .common_section_btn_site a {
    width: calc(268 / 464 * 100%);
    max-width: 268px;
    min-width: calc(268px * 0.66);
  }
  .common_section_btn_store a {
    width: calc(308 / 464 * 100%);
    max-width: 308px;
    min-width: calc(308px * 0.66);
  }
  .common_section_btn_beans a {
    width: calc(251 / 464 * 100%);
    max-width: 251px;
    min-width: calc(251px * 0.66);
  }
  .common_section_btn_menu02 a {
    width: calc(214 / 464 * 100%);
    max-width: 214px;
    min-width: calc(214px * 0.66);
  }
  .common_section_btn_index a {
    width: calc(236 / 464 * 100%);
    max-width: 236px;
    min-width: calc(236px * 0.66);
  }
}
@media screen and (max-width: 767px) {
  .page_head {
    width: 91.16%;
    height: 88.40vw;
    margin-top: 80px;
  }
  .page_head_ph img {
    height: 88.40vw;
  }
  .page_head_ph.pc {
    display: none;
  }
  .page_head_shop .page_head_ttl {
    width: calc(101 / 181 * 100%);
    max-width: calc(101px * 2.5);
  }
  .page_head_backg .page_head_ttl {
    width: calc(124 / 181 * 100%);
    max-width: calc(124px * 2.5);
  }
  .page_head_beans .page_head_ttl {
    width: calc(119 / 181 * 100%);
    max-width: calc(119px * 2.5);
  }
  .page_head_menu .page_head_ttl {
    width: calc(98 / 181 * 100%);
    max-width: calc(98px * 2.5);
  }
  .page_head_howto .page_head_ttl {
    width: calc(126 / 181 * 100%);
    max-width: calc(126px * 2.5);
  }
  .page_head_news {
    display: none;
  }
  .common_section {
    width: 82.87%;
    margin: 80px auto;
  }
  .common_section_ttl img {
    width: 100%;
  }
  .common_section_ttl img.shoplogo {
    width: 52.67%;
  }
  .common_section_ttl.ttl_backg01 {
    width: calc(71vw / 1.81);
  }
  .common_section_ttl.ttl_backg02 {
    width: calc(133vw / 1.81);
  }
  .common_section_ttl.ttl_backg03 {
    width: calc(95vw / 1.81);
  }
  .common_section_ttl.ttl_backg_shirokuro {
    width: calc(79vw / 1.81);
  }
  .common_section_ttl.ttl_menu01 {
    width: calc(36vw / 1.81);
  }
  .common_section_ttl.ttl_menu02 {
    width: calc(32vw / 1.81);
  }
  .common_section_ttl.ttl_menu03 {
    width: calc(59vw / 1.81);
  }
  .common_section_ttl.ttl_howto01 {
    width: calc(50vw / 1.81);
  }
  .common_section_ttl.ttl_howto02 {
    width: calc(54vw / 1.81);
  }
  .common_section_ttl.ttl_howto03 {
    width: calc(54vw / 1.81);
  }
  .common_section_btn {
    margin-top: 40px;
  }
  .common_section_btn a {
    background: #000;
    padding: 10px 20px;
  }
  .common_section_btn_map a {
    width: calc(109vw / 1.81);
    max-width: calc(109px * 2);
  }
  .common_section_btn_menu a {
    width: calc(77vw / 1.81);
    max-width: calc(77px * 2);
  }
  .common_section_btn_site a {
    width: calc(106vw / 1.81);
    max-width: calc(106px * 2);
  }
  .common_section_btn_store a {
    width: calc(122vw / 1.81);
    max-width: calc(122px * 2);
  }
  .common_section_btn_beans a {
    width: calc(99vw / 1.81);
    max-width: calc(99px * 2);
  }
  .common_section_btn_menu02 a {
    width: calc(85vw / 1.81);
    max-width: calc(85px * 2);
  }
  .common_section_btn_index a {
    width: calc(94vw / 1.81);
    max-width: calc(94px * 2);
  }
}

/*howto*/

.howto_step01_type {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.howto_step01_type_item {
  width: 46.67%;
  text-align: center;
}
.howto_step01_type_item .txt {
  margin-top: 20px;
}

/*background*/

@media screen and (min-width: 768px) {
  .backg_item01_img {
    width: 47.22%;
    margin: 66px auto;
  }
}
@media screen and (max-width: 767px) {
  .backg_item01_img {
    width: 60%;
    margin: 66px auto;
  }
}

/*shop*/

.shop_map {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  margin-bottom: 40px;
  position: relative;
  border: 3px solid #000;
  filter: grayscale(100%);
}
.shop_map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.shop_meta {
  font-size: 1.6rem;
  display: flex;
}
.shop_meta dt {
  margin-right: 10px;
  white-space: nowrap;
}
.shopcat_wrap {}
.shopcat_wrap .-cat_ttl {
  display: block;
  text-align: center;
  margin-bottom: 5vw;
}
.shopcat_wrap .-cat_ttl img {
  width: 80%;
}
.shopcat_wrap p {
  margin-bottom: 3rem;
}
.shopcat_wrap p br {
  display: none;
}
.common_section_ttl .-shopttl {
  font-size: calc(3rem * 0.9);
  display: block;
  text-align: center;
  margin-top: 3.5rem;
}
.-commonborderB {
  padding-bottom: 90px;
  border-bottom: 1px solid #000;
}
@media screen and (min-width: 768px) {
  .shop_map {
    padding-bottom: 68%;
  }
  .shopcat_wrap .-cat_ttl {
    margin-bottom: 2.5vw;
    width: calc((66.66% * 0.83) * 1.2);
    margin-left: auto;
    margin-right: auto;
  }
  .shopcat_wrap .-cat_ttl img {
    width: 100%;
    height: auto;
  }
  .common_section_ttl .-shopttl {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1500px) {
  .shopcat_wrap p {
    text-align: center;
  }
  .shopcat_wrap p br {
    display: block;
  }
  .common_section_ttl .-shopttl {
    font-size: 3rem;
  }
  .shopcat_wrap .-cat_ttl img {
    width: 100%;
    height: auto;
  }
}
/*news*/

.news_ttl_sp {
  width: 20.44vw;
  margin: 130px auto 38px;
}
.news_post {
  display: block;
  border-bottom: 1px solid #000;
  padding: 30px 15px;
  font-size: 1.6rem;
}
.news_post * {
  line-height: 2.0;
}
.news_post:first-child {
  padding-top: 0;
}
.news_yearly {
  text-align: center;
  width: 9em;
  margin: 30px auto 0;
  position: relative;
}
.news_yearly select {
  width: 100%;
  margin: 0;
  background: none;
  border: 1px solid #000;
  outline: none;
  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Magic font size number to prevent iOS text zoom */
  font-size: 1.6rem;
  /* General select styles: change as needed */
  /* font-weight: bold; */
  padding: .6em 1.9em .5em .8em;
  line-height: 1.3;
  border-radius: 5px;
}
.news_yearly:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 11px;
  top: 50%;
  right: 1em;
  margin-top: -4px;
  z-index: 2;
  background: url("../img/ico_arrow_down.svg") no-repeat center / 12px 11px;
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .news_ttl_sp {
    display: none;
  }
  .news_yearly {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .news_post {
    font-size: 1.3rem;
    padding: 20px 12px;
  }
  .news_post:first-child {
    padding-top: 20px;
    border-top: 1px solid #000;
  }
  .news_yearly {
    margin-top: 30px;
  }
  .news_yearly select {
    background: #000;
    color: #fff;
  }
  .news_yearly:after {
    background: url("../img/ico_arrow_down_wh.svg") no-repeat center / 12px 11px;
  }
}

/*news single*/

.news_single {}
.news_single_ph img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .news_single_ph {
    padding-bottom: 68%;
    overflow: hidden;
    position: relative;
  }
  .news_single_date {
    font-size: 1.6rem;
  }
  .news_single_ttl {
    font-size: 2.4rem;
  }
  .news_single_body {
    font-size: 1.6rem;
    margin-top: 45px;
  }
  .news_single_ph {
    margin: 0 -4% 45px;
  }
}
@media screen and (max-width: 767px) {
  .news_single_ph {
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
  }
  .news_single_date {
    font-size: 1.3rem;
  }
  .news_single_ttl {
    font-size: 1.8rem;
  }
  .news_single_body {
    font-size: 1.3rem;
    margin-top: 40px;
  }
  .news_single_ph {
    margin: 0 0% 40px;
  }
}

/*error404*/

@media screen and (min-width: 768px) {
  body.error404 .p-left_box {
    display: none;
  }
  body.error404 .p-center_box {
    width: calc(100% - 172px);
    margin-left: 16px;
    margin-top: 16px;
    box-sizing: border-box;
  }
  body.error404 .p-center_box main {
    height: calc(100vh - 32px);
  }
  .error_txt {
    max-width: 592px;
    width: 42.44%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 767px) {
  body.error404 .p-left_box {
    display: block;
  }
  body.error404 .p-center_box main {
    height: 100vh;
  }
  .error_txt {
    max-width: 394px;
    width: 72.08%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/*btn*/

@media screen and (min-width: 768px) {
  .btn_beans {
    fill: #000;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_menu {
    fill: #000;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_store-1, .btn_store-2 {
    fill: #000;
  }
  .btn_store-2 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_site-1, .btn_site-2 {
    fill: #000;
  }
  .btn_site-2 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_map-1, .btn_map-2, .btn_map-3 {
    fill: #000;
  }
  .btn_map-2 {
    stroke-width: .1px;
  }
  .btn_map-2, .btn_map-3 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .btn_map-3 {
    stroke-width: .05px;
  }
  .btn_menu02 {
    fill: #000;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_index {
    fill: #000;
  }
  .top_logo {
    fill: #000;
  }
}
@media screen and (max-width: 767px) {
  .btn_beans {
    fill: #fff;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_menu {
    fill: #fff;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_store-1, .btn_store-2 {
    fill: #fff;
  }
  .btn_store-2 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_site-1, .btn_site-2 {
    fill: #fff;
  }
  .btn_site-2 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_map-1, .btn_map-2, .btn_map-3 {
    fill: #fff;
  }
  .btn_map-2 {
    stroke-width: .1px;
  }
  .btn_map-2, .btn_map-3 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .btn_map-3 {
    stroke-width: .05px;
  }
  .btn_menu02 {
    fill: #fff;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .1px;
  }
  .btn_index {
    fill: #fff;
  }
  .top_logo {
    fill: #fff;
  }
}

/*link*/

a.link_txt {
  text-decoration: underline;
}
.page_item a {
  color: #3472D6;
}
@media screen and (min-width: 768px) {
  a.link_txt:hover {
    text-decoration: none;
  }
  .news_post, .l-footer_function a, .p-top_news_item {
    -webkit-transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .news_post:hover, .l-footer_function a:hover, .p-top_news_item:hover {
    opacity: 0.5;
  }
  .common_link_more a:after, .c-global_nav .main_nav li a:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    opacity: 0;
    -webkit-transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .common_link_more a:hover:after, .c-global_nav .main_nav li a:hover:after {
    opacity: 1;
  }
  .work_list a, .sns_list a {
    -webkit-transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .work_list a:hover, .sns_list a:hover {
    opacity: 0.7;
  }
  .btn_submit {
    -webkit-transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .btn_submit:hover {
    background: #fff;
    border: 1px solid #333;
    color: #333;
  }
  .common_section_btn a {
    -webkit-transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .common_section_btn a:hover {
    background: #000;
  }
  .common_section_btn a * {
    -webkit-transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: all 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .common_section_btn a:hover * {
    fill: #fff;
    stroke: #fff;
  }
  .common_section_btn a:hover .btn_store-1, .common_section_btn a:hover .btn_site-1, .common_section_btn a:hover .btn_map-1, .common_section_btn a:hover .btn_index {
    stroke: none;
  }
  .p-pc_nav_btn_store {
    -webkit-transition: background 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: background 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .p-pc_nav_btn_store:hover {
    background: #000;
  }
  .p-pc_nav_ico_instagram {
    -webkit-transition: fill 0.5s cubic-bezier(0.36, 0.14, 0, 1);
    transition: fill 0.5s cubic-bezier(0.36, 0.14, 0, 1);
  }
  .p-pc_nav_ico_instagram:hover {
    fill: #8BB0BF;
  }
}
